*
{	margin: 0;
	padding:0;
	font-family: 'Titillium Web', sans-serif;
	font-size: 1.5vw;
	box-sizing: border-box;
}

nav
{
	display: flex;
	flex-direction: row;
	background-color: red;
	border: 4px solid white;
}
header
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url('https://images.pexels.com/photos/139761/pexels-photo-139761.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb');
	height: 100vh;
	background-size: cover;
	margin-bottom: 20px;
	color: #fff0f5;

}
.text
{
	border: 3px solid white;
}

.responsive {
    width: 100%;
    height: auto;
}

.center
{
	text-align: center;
}



.intro
{
	width: 70%;
	max-width: 100%;
	background-color: #f5f5f5
}
.intro-image
{
	width: 100%;
	max-width: 100%;
	display: flex;
	justify-content: center;


}
#intro-name
{
	display: flex;
	justify-content: center;
	align-content: center;
}
.me
{
		margin: 10px 10px 10px 10px;
    /* border-radius: 90%; */
		width: 15%;
		height: 20%;
}

.content
{
	/* background-color:  #f2f2f2; */
	width: 75%;
	height: 100%;
	/* margin-left: 10%; */
}

.first
{
	width: 100%;
	max-width: 100%;
	background-color: #dfcad2;
	display: flex;
	flex-direction: row;
	margin: 10px 0 10px 0;
}
.second
{
	width: 100%;
	max-width: 100%;
	background-color: #d6e0f6;
	display: flex;
	flex-direction: row;
	margin: 10px 0 10px 0;
}


.first-left,.first-right,.second-left,.second-right,.third-left,.third-right
{
	width:50%;
	margin-right: 10px;
}
.img-d
{
	width: 95%;
}


/* -------------------------------FOOTER------------------------------------- */
.my-footer
{
	width: 100%;
	max-width: 100%;
	background-color: white;
	margin: 10px auto;

}
.custom
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	width: 100%;
	max-width: 100%;
}
.fa {
  text-align: center;
  text-decoration: none;
  margin: 10px 12px;
	color: black;

}
.fa:hover {
    opacity: 0.7;
}

/* ------------------BREAKPOINT----------------- */
@media screen and (max-width: 700px) {
	*{
		font-size: 3vw;
	}
	.first,.second{
		display: block;
	}
	.img-d{
		margin: 0 0 10px 13.5px;
	}
	.main{
		/* border-bottom: 3px solid black; */
		margin-bottom: 10px;
	}
	.main:last-child{
		border-bottom: none;
	}

  .first, .second ,.content ,.intro {
    width: 100%;
		max-width: 100%;/* The width is 100%, when the viewport is 800px or smaller */
  }
	.intro{
		margin: 0px 10px 0 10px ;
	}
	.me{
		width: 50%;
		height: 100%;
	}
	.first-left,.first-right,.second-left,.second-right{
		width: 100%;
		max-width: 100%;
	}
}
